weights/icon_caption_blip2
weights/icon_caption_florence
weights/icon_detect/
weights/icon_detect_v1_5/
weights/icon_detect_v1_5_2/
.gradio
__pycache__/
debug.ipynb
util/__pycache__/
index.html?linkid=2289031
wget-log
weights/icon_caption_florence_v2/
omnitool/gradio/uploads/
temp_capture.png
current_screen.png
run_log.txt
posts_cache.json
weights/
htmlcov/
coverage.xml
.coverage
automation_run.log